@font-face {
  font-family: "charlotte_southernsouthern";
  src: url("../fonts/charlotte_southern-webfont.eot");
  src: url("../fonts/charlotte_southern-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/charlotte_southern-webfont.woff2") format("woff2"),
    url("../fonts/charlotte_southern-webfont.woff") format("woff"),
    url("../fonts/charlotte_southern-webfont.ttf") format("truetype"),
    url("../fonts/charlotte_southern-webfont.svg#charlotte_southernsouthern")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f2e7;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
a {
  text-decoration: none;
}

li {
  list-style: none;
}

header {
  width: 100%;
  height: 48px;
  background-color: #0a2c46;
  position: sticky;
  top: 0;
  z-index: 200;
}

.navbar {
  margin: auto;
  display: flex;
  position: relative;
  /* align-items: center; */
  align-items: flex-start;
  background-color: #0a2c46;
  color: white;
  width: 100%;
  max-width: 1300px;
  height: 48px;
  padding: 0 30px;
  flex-direction: column;
}

.brand-title {
  font-size: 1.5rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
  display: none;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  flex-direction: column;
}

.navbar-links ul li {
  text-align: center;
}

.navbar-links li a {
  /* display: block; */
  /* text-decoration: none; */
  color: white;
  padding: 0.5rem 1rem;
}

.navbar-links li:hover a {
  background-color: #1c4c71;
  /* height: 48px; */
}

.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.navbar-links .active {
  display: flex;
  flex-direction: column;
}

.navbar div:nth-child(1) {
  /*  logo */
  width: 120px;
  height: 35px;
  background-image: url(../img/logo1.png);
  font-size: 0;
  margin-top: 5px;
}

/* ----------------- fin de header----------------- */
/* ----------------- Footer----------------- */
footer {
  height: 200px;
  background-color: #0a2c46;
  padding-top: 50px;
  color: white;
  text-align: center;
  font-size: 1rem;
}

.redes {
  width: 100%;
  max-width: 280px;
  padding: 0 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  /* padding: 0; */
  margin-bottom: 40px;
}

/* footer a {
  color: white;
} */

.redes li a {
  /* color: white; */
  display: inline-block;
  width: 42px;
  height: 42px;
  font-size: 0px;
  background-color: #f4f2e7;
  background: url(../img/socialmedia.png);
}

.redes #ig a:hover {
  background-position: 0px -42px;
}

.redes #fb a {
  background-position: -42px 0px;
}

.redes #fb a:hover {
  background-position: -42px -42px;
}
.redes #tw a {
  background-position: -84px 0px;
}
.redes #tw a:hover {
  background-position: -84px -42px;
}

/* ----------------- fin de footer----------------- */

/* ----------------- Inicio----------------- */
.encabezado {
  margin-top: -46px;
  padding-top: 80px;
  height: 645px;
  text-align: center;
  color: white;
  background-image: url(../img/bg1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 5px 1px 5px #000000;
  margin-bottom: -150px;
}

.parteunoencabezado {
  font-size: 1.5rem;
  /* margin-top: 100px; */
  letter-spacing: 3px;
  text-transform: uppercase;
  display: block;
  padding-bottom: 6px;
  /* line-height: 60px; */
  margin: auto;
  /* padding-top: 300px; */
  font-weight: normal;
  color: white;
}

.partedosencabezado {
  font-size: 4.5rem;
  text-transform: capitalize;
  font-family: "charlotte_southernsouthern";
  display: block;
  padding: 0px;
  line-height: 60px;
  color: white;
}

.button {
  padding: 5px 10px;
  margin-top: 60px;
  transition: all 0.35s ease;
  width: 120px;
  height: 30px;
  font-size: 1rem;
}

.button:hover {
  transform: translateY(5px);
}

.cuerpo {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 30px;
}

.tarjetashome {
  padding: 20px 0;
  /* width: 300px; */
  text-align: center;
  overflow: hidden;
  margin: auto;
  text-transform: uppercase;
}

.tarjetashome div {
  width: 90%;
  height: 80px;
  margin: 16px auto;
  line-height: 80px;
  background-position: center;
  background-size: cover;
  transition: all 0.4s ease;
}

.tarjetashome div:hover,
.tarjetashome div:focus {
  transform: translateY(5px);
  /* background-image: none; */
  /* background-color: #1c4c71 !important; */
  box-shadow: inset 0 -4em 0 0 #1c4c71;
}

.tarjetashome div a {
  font-size: 1.6rem;
  color: white;
  font-weight: bold;
  text-shadow: 5px 1px 5px #000000;
  letter-spacing: 3px;
}

.tarjeta1 {
  background-image: url(../img/tarjeta1.jpg);
  background-color: #1c4c71 !important;
}
.tarjeta2 {
  background-image: url(../img/tarjeta2.jpg);
}
.tarjeta3 {
  background-image: url(../img/tarjeta3.jpg);
}

.video {
  margin: 20px auto;
  width: 100%;
  max-width: 1200px;
}

.video > p {
  margin-left: 30px;
  margin-top: 40px;
}

.iframe-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  margin: auto;
}
.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ----------------- fin de inicio----------------- */

/* ----------------- turismo----------------- */

.turismo,
.contacto,
.uptown {
  margin: auto;
  padding: 0 25px;
  width: 100%;
  max-width: 1150px;
}

.turismo h1,
.contacto h1,
.uptown h1 {
  margin-top: 1.5rem;
  margin-bottom: -1rem;
  font-size: 2.8rem;
  font-style: bold;
  text-transform: uppercase;
  color: #0a2c46;
}

.atracciones{
  margin-bottom: 80px;
}

.atracciones ul {
  padding: 0;
}


.atracciones picture {
  margin: -25px;
  transition: all 0.15s ease;
}

.atracciones > ul > li > div:first-child {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 60px;
}

.atracciones h2 {
  text-transform: uppercase;
  color: #9d2e27;
  font-size: 1.8rem;
  text-align: center;
  margin: 0 0 15px 0;
  line-height: 1.8rem;
  transition: all 1s ease;
}

.atracciones h2 + p {
  text-transform: uppercase;
  text-align: center;
  color: #0a2c46;
  margin: 0;
  letter-spacing: 3px;
}

/* mapa */
.atracciones > ul > li iframe {
  width: 100%;
  height: 200px;
  border: 0;
  margin: 10px 0;
}

.atracciones > ul > li ul li {
  padding-left: 35px;
  height: 30px;
  line-height: 30px;
}

.atracciones > ul > li ul li:nth-of-type(1) {
  background: url(../img/iconos.png);
  background-repeat: no-repeat;
}

.atracciones > ul > li ul li:nth-of-type(2) {
  background: url(../img/iconos.png);
  background-repeat: no-repeat;
  background-position: 0px -60px;
}

.atracciones > ul > li ul li:nth-of-type(3) {
  padding: 0;
  margin-top: 10px;
}

.atracciones > ul > li ul li:nth-of-type(3) a {
  display: block;
  height: 46px;
  line-height: 46px;
  text-align: center;
  border: #0a2c46 1px solid;
  color: black;
  transition: all 0.25s ease;
}

.atracciones > ul > li ul li:nth-of-type(3) a:hover {
  background-color: #0a2c46;
  color: #f4f2e7;
}

.atracciones > ul > li > div:nth-of-type(2) div{
  margin-bottom: 100px;
}

/* .atracciones > ul > li > picture {
  overflow: hidden;
}
.atracciones > ul > li > picture img{
  object-fit: cover;
  transition: transform 0.5s;
  height: 100%;
}
 */

.atracciones > ul > li:hover h2{
  letter-spacing: 2px;
}

/* ----------------- fin de turismo----------------- */

/* ----------------- eventos----------------- */

.eventos{
  margin: auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1150px;
}

.encabezadoeventos div:nth-child(1) {
  height: 500px;
  text-align: left;
  color: white;
  line-height: 500px;
  background-image: url(../img/eventosback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-shadow: 5px 1px 5px #9d2e27;
  margin-top: -48px;
}

.encabezadoeventos h1 {
  color: white;
  font-size: 2.8rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 0 20px;
  margin: auto;
  font-weight: bold;
  text-align: left;
  max-width: 1100px;
}

.encabezadoeventos div:nth-child(2) {
  width: 94%;
  max-width: 900px;
  margin: 30px auto 60px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.encabezadoeventos div:nth-child(2) p:first-of-type {
  color: #9d2e27;
  font-size: 26px;
  line-height: 24px;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-top: 30px;
}

.eventos > ul > li {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: #9d2e27 2px solid;
}

.eventos > ul > li > div {
  margin-left: 30px;
}

ol{
  padding: 0;
  margin-bottom: 80px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding-bottom: 60px;
}

ol li{
  overflow: hidden;
  /* padding: 1rem; */
  position: relative;
  color: white;
  height: 290px;
  text-shadow: 1px 1px 3px black;
  max-width: 480px;
  margin: auto;
}

/* sombra */
ol li:hover img{
  scale: 1.1;
}

ol li:hover h3{
  letter-spacing: 2px;
}

ol li img{
  width: 100%;
  height: 290px;
  object-fit: cover;
  /* object-position: center; */
  position: relative;
  transition: all 0.50s ease;
}

ol li div{
  position: absolute;
  z-index: 3;
  padding: 18px 20px;
  bottom: 0px;
  max-width: 300px;
}

/* fecha */
ol li > p{
  position: absolute;
  /* left: 20px; */
  top: 0px;
  left: 18px;
}

ol li div h3{
  margin: 80px 0 10px 0 ;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 1.8rem;
  transition: all 0.50s ease;
}

/* tipo */
ol li div p:nth-of-type(1){
  position: absolute;
  /* left: 20px; */
  top: 60px;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

ol li div p:nth-of-type(2){
  font-size: 0.8rem;
  margin: 0 0 14px 0;
}

ol li div a{
  color: white;
  display: block;
  height: 46px;
  line-height: 42px;
  text-align: center;
  border: white 1px solid;
  transition: all 0.25s ease;
  background-color: #0000005d;
  max-width: 260px;
}

ol li div a:hover{
  background-color: white;
  color: black;
  text-shadow: none;
  max-width: 260px;
}

/* ----------------- fin de eventos----------------- */

/* ----------------- contacto----------------- */

.formulario {
  width: 600px;
  margin: auto;
  margin-bottom: 50px;
}

.input-group {
  position: relative;
  display: inline-block;
  margin-top: 6px;
}


.input {
  padding: 10px;
  border: none;
  border-radius: 4px;
  font: inherit;
  color: #0a2c46;
  background-color: transparent;
  border: 2px solid #9d2e27;
  width: 240px;
}

.input-label {
  position: absolute;
  top: 10px;
  left: 18px;
  transform: translate (10px, 10px);
  transition: transform 1s;
  color: #9d2e27;
  /* font-weight: bold; */
}

.input:focus + .input-label,
.input:valid + .input-label {
  transform: translate(10px, -18px) scale(0.8);
  color: #9d2e27;
  padding-inline: 5px;
  background-color: #f4f2e7;
}

.input:is(:focus, :valid) {
  /* outline-color: #9d2e27; */
  border-color: #9d2e27;
  /* border-radius: 1px; */
}
#email {
  width: 508px;
}
input {
  outline: none;
}

textarea {
  outline: none;
  resize: none;
  width: 510px;
  font-size: 18px;
  background-color: transparent;
  border-radius: 0px;
  border: 2px solid #9d2e27;
  margin-top: 10px;
  padding: 10px;
  font-family: "Open Sans", sans-serif;
  color: #0a2c46;
}

::placeholder {
  color: #9d2e27;
}
:-ms-input-placeholder {
  color: #9d2e27;
}
::-webkit-input-placeholder {
  color: #9d2e27;
}
::-moz-placeholder {
  color: #9d2e27;
}

#enviar {
  width: 262px;
  height: 47px;
  background-color: #9d2e27;
  color: #f4f2e7;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
}

/* ----------------- fin de contacto----------------- */

@media (min-width: 600px) {
  body {
    font-size: 20px;
  }

  .encabezado {
    height: 800px;
    /* line-height: 800px; */
    background-image: url(../img/bg2.jpg);
    margin-bottom: 0;
  }

  .parteunoencabezado {
    font-size: 30px;
    display: block;
    padding-top: 240px;
  }

  .partedosencabezado {
    font-size: 120px;
    display: block;
    padding: 0px;
    padding-top: 30px;
  }

  .tarjetashome {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tarjetashome div {
    width: 340px;
    margin: 10px;
  }

  .turismo h1,
  .contacto h1 {
    margin-top: 3rem;
    margin-bottom: -1rem;
    font-size: 3.78rem;
  }

  .atracciones h2 {
    font-size: 2.5rem;
    line-height: 2.2rem;
  }

  ol{
    grid-template-columns: 1fr 1fr;
    max-width: 715px;
  }

  .encabezadoeventos h1 {
    font-size: 3.78rem;
  }

}

@media (min-width: 768px) {
  header {
    height: 56px;
  }
  .navbar {
    flex-direction: row;
    align-items: center;
    height: 56px;
    justify-content: space-between;
  }

  .navbar div:nth-child(1) {
    /*  logo */
    margin-top: 0;
  }

  .toggle-button {
    display: none;
  }

  .navbar-links {
    display: flex;
    /* width: 100%; */
  }

  .navbar-links ul {
    /* width: 100%; */
    flex-direction: row;
    align-items: center;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.1em 0.9rem;
    position: relative;
    display: inline-block;
    color: #f4f2e7a1;
  }

  .pagina-activa {
    color: #f4f2e7 !important;
  }

  .navbar-links li:hover a {
    background-color: transparent;
    color: #f4f2e7;
    /* height: 48px; */
  }

  .navbar-links ul li a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #f4f2e7;
    border-radius: 4px;
    scale: 0 1;
    transform-origin: right;
    transition: scale 0.25s;
  }

  .navbar-links ul li a:hover::before {
    scale: 1;
    transform-origin: left;
  }

  .iframe-container {
    width: 696px;
    height: 388px;
    padding-bottom: 0;
  }

  .turismo h1,
  .contacto h1,
  .uptown h1 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    font-size: 5rem;
  }
  .atracciones > ul > li > div:first-child {
    margin-top: 80px;
  }

  .atracciones h2 {
    font-size: 3rem;
    line-height: 2.8rem;
  }

  .atracciones > ul > li > div:nth-of-type(2) div {
    /* color: #9d2e27 !important; */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* mapa */
  .atracciones > ul > li iframe {
    width: 40%;
    height: 140px;
    border: 0;
    margin: 10px 30px 10px 0;
  }
  .atracciones > ul > li > div:nth-of-type(2) div ul{
    margin-top: -12px;
    width: 420px;
  }

@media (min-width: 1100px) {
  .tarjetashome div {
    width: 340px;
    height: 340px;
    margin: 0 12px;
    line-height: 340px;
  }

  .tarjeta1 {
    background-image: url(../img/tarjeta1big.jpg);
  }
  .tarjeta2 {
    background-image: url(../img/tarjeta2big.jpg);
  }
  .tarjeta3 {
    background-image: url(../img/tarjeta3big.jpg);
  }

  .tarjetashome div:hover,
  .tarjetashome div:focus {
    transform: translateY(5px);
    /* background-image: none; */
    /* background-color: #1c4c71 !important; */
    box-shadow: inset 0 -340px 0 0 #1c4c71;
  }

  .atracciones picture {
    margin: 0;
  }

  .atracciones h2 {
    font-size: 3.5rem;
  }

  .atracciones > ul > li > div:nth-of-type(2){
    display: flex;
    align-items: flex-start;
  }

  .atracciones > ul > li > div:nth-of-type(2) p{
    width: 70%;
    padding-right: 28px;
  }
  .atracciones > ul > li > div:nth-of-type(2) div{
    flex-direction: column;
    /* padding-left: 30px; */
    /* align-items: flex-start; */
    margin: 16px 0 0 0;
  }

  .atracciones > ul > li iframe {
    width: 100%;
    height: 200px;
    border: 0;
    margin: 10px 0px 30px 0;
  }

  .atracciones > ul > li ul li:nth-of-type(1) {
    /* background: url(../img/iconos.png);
    background-repeat: no-repeat; */
    margin-bottom: 12px;
    line-height: 20px;
  }
  
  .atracciones > ul > li ul li:nth-of-type(2) {
  }

  .atracciones > ul > li > div:nth-of-type(2) div ul{
    width: 340px;
    padding-left: 10px;
  }

  ol{
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 1080px;
  }

  ol li div{
    transform: translateY(42%);
    width: 350px;
    max-width: 350px;
    transition: all 0.50s ease;
  }

  ol li div h3{
    width: 306px;
    font-size: 2.1rem;
    line-height: 2rem;
    height: 80px;
    /* margin-bottom: -5px; */
    margin-top: 70px;
    transition: all 0.90s ease;
  }
  
  ol li:hover div{
    transform: translateY(0);
    background: linear-gradient(
      hsl(0 0% 0% / 0),
      /* hsl(0 0% 0% / 0.1) 10%, */
      hsl(0 0% 0% / 1)
    );
  }
  ol li:hover h3{
    height: auto;
    /* transition: all 0.20s ease; */
    letter-spacing: 0;
  }

  ol li > p{
    font-size: 1rem;
  }

  ol li div a,  ol li div a:hover{
    width: 100%;
    max-width: 350px;
  }

  .encabezadoeventos h1 {
    font-size: 5rem;
  }

}
